SECRET_KEY='django-insecure-*************'
DB_ENGINE='django.db.backends.postgresql_psycopg2'
DB_NAME='name_db'
DB_USER='username'
DB_PASSWORD='password'
DB_HOST='localhost'
DB_PORT='5432'
ALLOWED_HOSTS='localhost,127.0.0.1'
SOCIAL_AUTH_VK_OAUTH2_KEY='******'
SOCIAL_AUTH_VK_OAUTH2_SECRET='********'
YANDEX_API_KEY='**********'
